{% extends 'base.html.twig' %}

{% block title %}Edit Mots{% endblock %}

{% block body %}
    <h1>Edit Mots</h1>

    {{ include('mots/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_mots_index') }}">back to list</a>

    {{ include('mots/_delete_form.html.twig') }}
{% endblock %}
